<tr>
  <td><%= offering.course %></td>
  <td><%= offering.size %></td>
  <td><%= offering.scheduled_at %></td>
  <td><%= offering.location %></td>
  <td><%= offering.user %></td>
  <td><%= link_to "Sign up for this course", sign_up_for_offering_path(offering) %> <%= link_to 'Show', offering %></td>
</tr>