<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @offering.course %>
</p>

<p>
  <strong>Size:</strong>
  <%= @offering.size %>
</p>

<p>
  <strong>Scheduled on:</strong>
  <%= @offering.scheduled_on %>
</p>

<p>
  <strong>Location:</strong>
  <%= @offering.location %>
</p>

<p>
  <strong>User:</strong>
  <%= @offering.user %>
</p>

<%= link_to 'Edit', edit_offering_path(@offering) %> |
<%= link_to 'Back', offerings_path %>
