<%= form_for(@scheduled_course) do |f| %>
  <% if @scheduled_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scheduled_course.errors.count, "error") %> prohibited this scheduled_course from being saved:</h2>

      <ul>
      <% @scheduled_course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course %><br>
    <%= f.text_field :course %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :scheduled_on %><br>
    <%= f.text_field :scheduled_on %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
