<tr>
  <td><%= "#{course.section}#{course.number}" %></td>
  <td><%= course.name %></td>
  <td><%= course.length %> minutes</td>
  <td><%= course.user %></td>
  <td><%= link_to 'More Info', course %></td>
</tr>
